
# Using the Decima Framework

A primary use of the Decima Framework is as an API. To use Decima as an API, the following dependency can be added to your POM to use this library.

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>decima-xml-assessment</artifactId>
  <version>${project.version}</version>
</dependency>

```

This will automatically include the [decima-core] and [decima-xml] dependencies.

Decima also provides XML Schema and ISO Schematron testing support. To use these features, he following dependency can be added to your POM.

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>decima-xml-testing</artifactId>
  <version>${project.version}</version>
  <scope>test</scope>
</dependency>

```

This will automatically include the [decima-core], [decima-xml], [decima-xml-assessment], and [decima-xml-templating] dependencies in the test scope.

For examples of using Decima, checkout the [Decima Example module][decima-example], the Software Identification (SWID) tag [validation tool][swidval], and the Security Content Automation Protocol (SCAP) [content validator][scapval].

[decima-core]: decima-core/
[decima-example]: decima-example/
[decima-xml]: decima-xml/
[decima-xml-assessment]: decima-xml-assessment/
[decima-xml-templating]: decima-xml-templating/
[swidval]: https://github.com/usnistgov/swidval/
[scapval]: https://github.com/usnistgov/scapval/
